    <mat-toolbar color="primary">
        <span style="cursor: pointer;" routerLink="/">Authorization Application</span>
        <span class="example-spacer"></span>
        <div *ngIf="isLogin()">
            <button mat-stroked-button class="router-links" routerLink="/login">
                Login
            </button>
            <button mat-stroked-button class="router-links" routerLink="/register">
                Register
            </button>
        </div>
        <div *ngIf="!isLogin()">
            <span style="font-size: 14px; font-weight: 400;">Hello, <span style=" font-weight: 700;">{{ user[this.authService.i].username }}</span></span>
            <button mat-stroked-button class="router-links" routerLink="/login">
                Logout
            </button>
        </div>
    </mat-toolbar>
