    <mat-toolbar color="primary">
        <span style="cursor: pointer;" routerLink="/">Authorization Application</span>
        <span class="example-spacer"></span>
        <div *ngIf="isLogin()">
            <button mat-stroked-button class="router-links" routerLink="/login">
                Login
            </button>
            <button mat-stroked-button class="router-links" routerLink="/register">
                Register
            </button>
        </div>
        <div *ngIf="!isLogin()">
            <button mat-stroked-button class="router-links" routerLink="/login">
                Hello, {{ user[this.authService.i].username }}
            </button>
        </div>
    </mat-toolbar>
