.clear {
    display: block;
    margin-top: 10px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .message {
      margin-top: 10px;
      color: #369 ;
      padding: 5px;
  }