<div *ngIf="isLogin()" class="card">
    <h2 class="main-title">Hello, you can register or login</h2>
    <div style="text-align: center">
        <button style="margin: 0 5px" mat-raised-button routerLink="/login">
            Login
        </button>
        <button style="margin: 0 5px" mat-raised-button routerLink="/register">
            Register
        </button>
    </div>
</div>

<div *ngIf="isLogin()" class="crud">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="enter username"
            #input
        />
    </mat-form-field>
    <button style="margin-left: 20px" mat-stroked-button color="primary" title="Create new user" (click)="onCreate()">
        Create user<mat-icon style="height: 26px">add</mat-icon>
    </button>

    <table mat-table [dataSource]="userData" class="mat-elevation-z8">
        Position Column
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Password Column -->
        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let element">{{ element.password }}</td>
        </ng-container>

        <!-- Verification Column -->
        <ng-container matColumnDef="verify">
            <th mat-header-cell *matHeaderCellDef>Verification</th>
            <td mat-cell *matCellDef="let element">
                {{ element.verification }}
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" title="Edit this user" (click)="onEdit()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" title="Delete element" (onClick)="onDelete()">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
            </td>
        </tr>
    </table>
</div>
