<mat-card color="primary" class="card">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-card-title class="card-title">Forgot password</mat-card-title>
        <mat-card-subtitle class="card-subtitle">Restore your account</mat-card-subtitle>
        <div mat-card-avatar class="header-image-reg"></div>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
                name="email"
                matInput
                formControlName="email"
                onkeyup="this.value = this.value.replace(/[А-Яа-яЁё]/,'');"
                placeholder="inbox@gmail.com"
                required
            />
            <mat-error>{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <button type="submit" class="button-submit">
            Send message on email
        </button>
    </form>
</mat-card>
