<mat-card color="primary" class="card">
    <form [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit()">
        <mat-card-title class="card-title">Reset password</mat-card-title>
        <mat-card-subtitle class="card-subtitle">Reset your password by email</mat-card-subtitle>
        <div mat-card-avatar class="header-image-reg"></div>
        <mat-form-field appearance="fill">
            <mat-label>Enter current password</mat-label>
            <input
                name="currentPassword"
                formControlName="currentPassword"
                matInput
                type="password"
                required
            />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter new password</mat-label>
            <input
                name="newPassword"
                formControlName="newPassword"
                matInput
                [type]="hide ? 'password' : 'text'"
                required
                autocomplete
            />
            <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
            >
                <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Repeat new password</mat-label>
            <input
                name="repeatNewPassword"
                formControlName="repeatNewPassword"
                matInput
                [type]="hide ? 'password' : 'text'"
                required
                autocomplete
            />
            <button
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
            ></button>
        </mat-form-field>
        <button type="submit" class="button-submit">
            Reset password
        </button>
    </form>
</mat-card>
