<mat-card color="primary" class="card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-title class="card-title">Log in</mat-card-title>
        <mat-card-subtitle class="card-subtitle">
            Login in your account
        </mat-card-subtitle>
        <div mat-card-avatar class="header-image"></div>
        <mat-form-field appearance="fill">
            <mat-label>Enter your username</mat-label>
            <input
                matInput
                name="username"
                formControlName="username"
                placeholder="username"
                onkeyup="this.value = this.value.replace(/[^a-z0-9_-]/, '')"
                required
            />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input
                name="password"
                matInput
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
                onkeyup="this.value = this.value.replace(/[А-Яа-яЁё]/,'');"
                autocomplete
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
            >
                <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
        </mat-form-field>
        <button type="submit" class="button-submit">Login</button>

        <a class="forgot-pas" routerLink="/restore-password">Forgot password</a>
    </form>
</mat-card>
